<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs0DENCc0mta5yQcy6CBBu1dljAkOgMrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>369087145346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryshopping</string>
	<key>PROJECT_ID</key>
	<string>groceryshopping-c5608</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryshopping-c5608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369087145346:ios:7d2ee9dcb131497e655b9b</string>
</dict>
</plist>